/* ----------------- Разметкdа под desktop ----------------- */

.headline-section {
  position: relative;
}

.headline-section > h1 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 80px;
  line-height: 94px;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.headline-section > p {
  position: relative;

  max-width: 705px;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-left: 95px;

  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;

  &::after {
    content: "";

    position: absolute;
    top: 17px;
    left: 0;

    display: block;
    width: 66px;
    height: 2px;

    background-color: #ffffff;
  }
}

.headline-section__anchor-button {
  max-width: 407px;
  height: 55px;
  margin: 0;
  margin-left: 95px;
  margin-bottom: 131px;
  padding: 0;

  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.05em;

  border-color: $blue-light-color;

  &:hover,
  &:focus {
    background-color: rgba(0, 178, 255, 0.7);
  }

  &:active {
    background-color: rgba(0, 178, 255, 0.4);
  }
}

.headline-section__anchor-span {
  &--short {
    display: none;
  }
}

.headline-section__anchor {
  position: absolute;
  left: 75px;

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  opacity: 0.5;
  transform: rotate(-90deg);

  &:hover,
  &:focus {
    opacity: 0.8;
    text-shadow: 0 0 15px $blue-light-color;
  }

  &:active {
    opacity: 1;
  }
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $desktop-width) {
  .headline-section {
    position: relative;
    padding-left: 88px;
  }

  .headline-section > h1 {
    max-width: 470px;

    font-size: 60px;
    line-height: 70px;
  }

  .headline-section > p {
    max-width: 440px;
    margin-bottom: 52px;
    padding-left: 51px;

    font-size: 18px;
    line-height: 32px;

    &::after {
      top: 19px;
      left: 3px;

      width: 33px;
      height: 2px;
    }
  }

  .headline-section__anchor-button {
    max-width: 379px;
    margin-bottom: 0;
    margin-left: 50px;
  }

  .headline-section__anchor {
    display: none;
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .headline-section {
    margin: 0 auto;
    max-width: 500px;
    padding-left: 15px;
    padding-top: 114px;
  }

  .headline-section > h1 {
    max-width: 270px;

    font-size: 40px;
    line-height: 47px;
  }

  .headline-section > p {
    max-width: 440px;
    margin-bottom: 39px;
    padding-left: 51px;

    font-size: 16px;
    line-height: 26px;

    &::after {
      top: 17px;
    }
  }

  .headline-section__anchor-button {
    width: 100%;
    max-width: 290px;
    margin: 0;
  }

  .headline-section__anchor-span {
    &--short {
      display: block;
    }

    &--detail {
      display: none;
    }
  }
}
