/* ----------------- Разметкdа под desktop ----------------- */

.headband-container {
  padding-top: 32px;
  padding-bottom: 143px;
  background-color: $black-color;

  background-image: url("../img/desktop-header-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop-header-background(x2).png");
  }
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $desktop-width) {
  .headband-container {
    padding-top: 20px;
    padding-bottom: 162px;

    background-image: url("../img/tablet-header-background.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/tablet-header-background(x2).png");
    }
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .headband-container {
    padding-top: 18px;
    padding-bottom: 70px;

    background-image: url("../img/mobile-header-background.png");
    background-size: auto;
    background-position: 55.5% 100%;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile-header-background(x2).png");
      background-size: 450%;
      background-position: 55.5% 100%;
    }
  }
}
