/* ----------------- Разметкdа под desktop ----------------- */

.page-header {
  margin-bottom: 212px;
}

.page-header__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__item {
  margin-bottom: 20px;

  &--logo {
    margin-right: auto;

    line-height: 0;
    font-size: 0;
  }

  &--email {
    margin-right: 86px;
  }

  &--phone {
    margin-right: 50px;
  }

  &--button {
    margin-right: 2px;
  }
}

.page-header__logo {
  display: block;
  width: 202px;
  height: 52px;
}

.page-header__logo-image {
  width: 202px;
  height: 52px;
}

.page-header__link {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  transition: 0.25s ease all;
  outline: none;

  &:hover,
  &:focus {
    color: $blue-light-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-header__link:hover > .page-header__link-img {
  fill: #ffffff;
}

.page-header__link-img {
  margin-right: 9px;

  fill: $blue-light-color;
  transition: 0.25s ease all;
}

.page-header__button {
  width: 180px;
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $desktop-width) {
  .page-header {
    margin-bottom: 116px;
  }

  .page-header__item {
    margin-bottom: 0;

    &--logo {
      margin-right: auto;
    }

    &--email {
      margin-right: 33px;
    }

    &--phone {
      margin-right: 0;
    }
  }

  .page-header__link > span {
    display: none;
  }

  .page-header__link {
    &--phone > .page-header__link-img {
      width: 24px;
      height: 24px;
    }

    &--email > .page-header__link-img {
      width: 26px;
      height: 19px;
    }
  }

  .page-header__link-img {
    margin: 0;
  }

  .page-header__button {
    display: none;
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .page-header__logo {
    width: 38px;
    height: 38px;

    background-image: url("../img/mobile-logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile-logo(x2).png");
    }

    &--webp {
      background-image: url("../img/mobile-logo.webp");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/mobile-logo(x2).webp");
      }
    }
  }

  .page-header__logo-image {
    display: none;
    width: 38px;
    height: 38px;
  }

  .page-header__item {
    &--email {
      margin-right: 21px;
    }
  }
}
