/* ----------------- Разметкdа под desktop ----------------- */

.page-main {
  width: 100%;
  flex: 1 0 auto;
}

.page-main__advantages-container {
  padding-top: 112px;
  padding-bottom: 110px;

  background-image: url("../img/desktop-headline-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop-headline-background(x2).png");
  }

  &--webp {
    background-image: url("../img/desktop-headline-background.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/desktop-headline-background(x2).webp");
    }
  }
}

.page-main__advantages-section {
  margin-bottom: 75px;
}

.page-main__services-container {
  padding-top: 88px;
  padding-bottom: 127px;
  background-color: #1b2d37;
}

.page-main__questions-container {
  background-image: url("../img/desktop-form-airplane.png");
  background-color: $blue-light-color;
  background-position: 50% 44%;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop-form-airplane(x2).png");
    background-position: 50% 63%;
  }

  &--webp {
    background-image: url("../img/desktop-form-airplane.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/desktop-form-airplane(x2).webp");
    }
  }
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $desktop-width) {
  .page-main__advantages-container {
    padding-top: 54px;
    padding-bottom: 83px;

    background-image: url("../img/desktop-headline-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/desktop-headline-background(x2).png");
    }

    &--webp {
      background-image: url("../img/desktop-headline-background.webp");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/desktop-headline-background(x2).webp");
      }
    }
  }

  .page-main__advantages-section {
    margin-bottom: 19px;
  }

  .page-main__services-container {
    padding-top: 48px;
    padding-bottom: 33px;
  }

  .page-main__questions-container {
    background-image: none;
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .page-main__advantages-container {
    padding-top: 37px;
    padding-bottom: 65px;
  }

  .page-main__advantages-section {
    margin-bottom: 36px;
  }

  .page-main__services-container {
    padding-top: 49px;
    padding-bottom: 34px;
  }
}
