/* ----------------- Разметкdа под desktop ----------------- */

.questions-section {
  padding: 0 84px;
  padding-top: 91px;
  padding-bottom: 114px;
}

.questions-section__container {
  max-width: 600px;
  margin-left: auto;
  padding-left: 28px;
}

.questions-section__container > h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #ffffff;
}

.questions-section__container > p {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.questions-section__container > form {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.questions-section__fieldset {
  width: 100%;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  border: none;
}

.questions-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.questions-section__item {
  position: relative;

  margin-bottom: 40px;

  &--textarea {
    width: 100%;
    margin-bottom: 0;
  }
}

.questions-section__input-error {
  position: absolute;
  bottom: -40%;
  left: 50%;

  width: 100%;

  font-size: 11px;
  line-height: 12px;
  text-align: center;
  color: red;

  opacity: 0;
  transform: translateX(-50%);
}

.questions-section__item > textarea {
  width: 100%;
  max-width: 600px;
  padding: 11px 16px;

  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  font-weight: 500;

  border: 2px solid transparent;
  outline: none;
  transition: 0.25s ease all;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  resize: none;

  &:hover,
  &:focus {
    border: 2px solid #ffffff;
  }

  &::-webkit-input-placeholder {
    color: #ffffff;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

.questions-section__button {
  width: 270px;

  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.questions-section__checkbox {
  position: absolute;
  bottom: 19px;
  right: 45%;

  &:checked ~ .questions-section__label {
    &::after {
      background-image: url("../img/icon-check.svg");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.questions-section__label {
  cursor: pointer;

  &--consent {
    position: relative;

    display: block;
    max-width: 265px;
    padding-left: 34px;
    padding-top: 8px;

    font-size: 14px;
    line-height: 16px;

    color: #ffffff;

    &::after {
      content: "";

      position: absolute;
      left: 2px;
      top: 9px;

      display: block;
      width: 16px;
      height: 16px;

      border: 1px solid #ffffff;
    }
  }
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $desktop-width) {
  .questions-section {
    padding: 0 84px;
    padding-top: 77px;
    padding-bottom: 104px;
  }

  .questions-section__container {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 6px;
  }

  .questions-section__container > h2 {
    margin-bottom: 13px;

    font-size: 32px;
    line-height: 51px;
    text-align: left;
  }

  .questions-section__container > p {
    margin-bottom: 53px;
  }

  .questions-section__fieldset {
    margin-bottom: 38px;
  }

  .questions-section__button {
    width: 280px;
  }

  .call-popup__label {
    cursor: pointer;

    &--consent {
      padding-left: 26px;

      &::after {
        left: -7px;
      }
    }
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .questions-section {
    padding: 0 10px;
    padding-top: 29px;
    padding-bottom: 42px;
  }

  .questions-section__container > h2 {
    margin-bottom: 13px;
    padding: 0;

    font-size: 28px;
    line-height: 40px;
    text-align: left;
  }

  .questions-section__container > p {
    margin-bottom: 25px;
  }

  .questions-section__fieldset {
    margin-bottom: 24px;
  }

  .questions-section__item {
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .questions-section__item > textarea {
    width: 100%;
    max-width: 600px;
    max-height: 104px;
    padding: 13px 16px;
  }

  .questions-section__button {
    width: 290px;
    margin-bottom: 23px;
  }

  .call-popup__label {
    cursor: pointer;

    &--consent {
      padding-left: 33px;

      &::after {
        left: 0;
      }
    }
  }
}
