/* ----------------- Разметкdа под desktop ----------------- */

.services-section > h2 {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.services-section > p {
  max-width: 980px;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  color: $black-light-color;
}

.services-section__list {
  display: flex;
  margin: 0;

  padding: 0;

  list-style: none;
}

.services-section__item {
  position: relative;

  width: 33.3%;
  max-width: 370px;
  min-height: 620px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.services-section__link {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 45px;
  padding-top: 50px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  z-index: 1;
  outline: none;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;

    display: block;
    width: 63px;
    height: 63px;

    background-image: url("../img/icon-vector.svg");
    background-color: $blue-light-color;
    background-position: center;
    background-size: 4px 8px;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #1b2d37;
    opacity: 0.8;
    transition: 0.25s ease all;
  }

  &:hover::after,
  &:focus::after {
    background-size: 8px 16px;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.4;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 10px 0 $blue-light-color;
  }

  &:active {
    box-shadow: 0 0 20px 0 $blue-light-color;
  }

  &--production {
    background-image: url("../img/service-1-desktop.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/service-1-desktop(x2).png");
    }
  }

  &--mounting {
    background-image: url("../img/service-2-desktop.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/service-2-desktop(x2).png");
    }
  }

  &--components {
    background-image: url("../img/service-3-desktop.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/service-3-desktop(x2).png");
    }
  }
}

.services-section__link-description {
  position: relative;

  display: block;
  width: 160px;

  z-index: 1;
}


/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $desktop-width) {
  .services-section > h2 {
    width: 85%;
    margin-bottom: 46px;

    font-size: 32px;
    line-height: 47px;
  }

  .services-section__list {
    flex-wrap: wrap;
  }

  .services-section__item {
    width: 100%;
    max-width: 100%;
    min-height: 256px;
    margin: 0;
    margin-bottom: 46px;

    background-size: cover;

    &:last-child {
      margin-right: 0;
    }
  }

  .services-section__link {
    padding-top: 41px;

    background-size: cover;

    &--production {
      background-image: url("../img/service-1-tablet.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/service-1-tablet(x2).png");
      }
    }

    &--mounting {
      background-image: url("../img/service-2-tablet.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/service-2-tablet(x2).png");
      }
    }

    &--components {
      background-image: url("../img/service-3-tablet.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/service-3-tablet(x2).png");
      }
    }
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .services-section > h2 {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 12px;

    font-size: 28px;
    line-height: 40px;
  }

  .services-section__item {
    width: 100%;
    max-width: 100%;
    min-height: 256px;
    margin: 0;
    margin-bottom: 30px;
  }

  .services-section__link {
    padding: 0 37px;
    padding-top: 20px;

    background-size: cover;

    &--production {
      background-image: url("../img/service-1-mobile.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/service-1-mobile(x2).png");
      }
    }

    &--mounting {
      background-image: url("../img/service-2-mobile.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/service-2-mobile(x2).png");
      }
    }

    &--components {
      background-image: url("../img/service-3-mobile.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/service-3-mobile(x2).png");
      }
    }
  }
}
