/*         Основные размеры        */

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

/*         Основные цвета        */

$black-light-color: #666666;
$black-color: #203c42;
$blue-light-color: #00b2ff;

/*         Основные шрифты        */

$h2-size: 40px;
$h2-mini-size: 32px;
$h3-size: 28px;
$h3-mini-size: 24px;
$h4-size: 21px;
$h4-mini-size: 18px;

$small-font-size: 13px;
$regular-font-size: 15px;
$big-font-size: 17px;

$small-line-height: 130%;
$regular-line-height: 151%;
$big-line-height: 171%;
